/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * xxxx
 */
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #888;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5;
  padding: 0.2em 0 1.5em;
}

.wrap {
  width: 80%;
  max-width: 50em;
  margin: 0 auto;
}

/**
 * Top-level
 */
.main-heading {
  font-size: 2.2em;
  color: #47A3DA; /*blue*/
  border-bottom: #eee solid 1px;
  padding-bottom: .4em;
  margin-bottom: .5em;
  cursor: pointer;
}
/* Hack: setting separate font-sizes
on before pseudo-element to account for
diff widths, otherwise text visibly shifts */
.main-heading:before {
  content:'\27B8';
  color: #C5C4C6; /*grey*/
  margin-right: .6em;
  font-size: 85.5%;
}

.main-heading:hover:before, .active:before {
  content:'\27B7';
  color: #47A3DA; /*blue*/
  font-size: 90%;
}

/**
 * Nested
 */
.nested-heading, .nested-content {
  margin-left: 2em;
}
.nested-heading {
  text-transform: uppercase;
  color: #47A3DA; /*blue*/
  letter-spacing: .4em;
  font-weight: bold;
  margin-bottom: .5em;
  margin-top: 1.2em;
  cursor: pointer;
}
.nested-heading:before {
  content:'\2192';
  color: #C5C4C6; /*grey*/
  margin-right: .6em;
  font-size: 85.5%;
}

.nested-heading:hover:before {
  content:'\2198';
  color: #47A3DA;
  font-size: 90%;
}
div.main-content, div.nested-content {
  display: none;
}
.active + div {
  display: block;
}

/**
 * Helpers
 */
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display: table;
}

.clearfix:after {
    clear: both;
}

.is-hidden {
    display: none;
}
