/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * xxxx
 */
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-style: 16px;
}
.wrap {
  width: 90%;
  max-width: 50em;
  margin-left: 0 auto;
}


p {
color: #888;
font-size: 1.25em;
font-weight: 300;
line-height: 1.5;
padding: 0.2em 0 1.5em;
margin: 0;
}
/**
 * Top-level
 */
.heading {
  font-size: 1.8em;
}
/**
 * Nested
 */
.nested-heading {
  text-transform: uppercase;
}

.nested-content {
color: #888;
font-size: 1.25em;
font-weight: 300;
line-height: 1.5;
padding: 0.2em 0 1.5em;
margin: 0;
}
/**
 * xxxx
 */

/**
 * Helpers
 */
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display: table;
}

.clearfix:after {
    clear: both;
}

.is-hidden {
    display: none;
}
