body {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #333;
}
body > .container {
  min-width: 1020px;
}
.navbar-brand {
  font-size: 4ex;
}
.stats big {
  font-size: 200%;
}
.bio li {
  line-height: 2;
}
.bio .octicon:before {
  display: inline-block;
  width: 2em;
  text-align: center;
  color: gray;
}
.main .panel {
  /* bootstrap override */
  padding-right: 0;
  padding-left: 0;
}
.main section {
  /* bootstrap override */
  padding-right: 0;
  padding-left: 0;
}
.thumbnail {
  /* bootstrap override */
  border: none;
}
.thumbnail > img {
  /* bootstrap override */
  border-radius: 4px;
}
.badge {
  font-size: 12px;
  vertical-align: baseline;
  color: inherit;
  color: #888;
  border-radius: none;
  background-color: inherit;
}
.list-group-item-heading {
  font-size: 14px;
  font-weight: bold;
}
.repo-description {
  font-size: 12px;
  display: block;
  max-width: 230px;
  color: #777;
}
.css-truncate .css-truncate-target {
  display: inline-block;
  overflow: hidden;
  max-width: 125px;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.avatar {
  line-height: 1;
  display: inline-block;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 3px;
  vertical-align: middle;
  border-radius: 3px;
}
.pink {
  background-color: pink;
}
.purple {
  background-color: thistle;
}
.blue {
  background-color: lightblue;
}