body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: white;
  background-color: #47a3da;
}

h2 {
  color: #57BDFB;
  margin-bottom: 45px;
}


a.carousel-control.left, a.carousel-control.right {
  text-shadow: none;
  background-image: none;
  background-repeat: no-repeat;
}

.carousel-indicators {
/*  outline: 3px solid red;*/
  position: static;
  margin-top: 20px;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%
}

.carousel-indicators .active {
  width: 23px;
  height: 23px;

}