/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * xxxx
 */
body {
  line-height: 1.3em;
  font-size: 1em;
}

.wrap {
  width: 100%;
  background-color: #eee;
  margin-top: 2em;
}
/**
 * xxxx
 */
article {
  width: 50%;
  outline: magenta 1px solid;
  position: relative;
  border-left: 15px lightblue solid;
  float: right;
  margin-right: 3em;
}

article div {
  color: white;
  width: 70%;
  margin-right: 3em;
  margin-bottom: 2em;
  outline: 1px solid #D08770;
  padding: .5em;
}

h1 {
  font-size: 1.8em;
  margin-bottom: .5em;
  line-height: 1.3em;
  border-bottom: 1px black solid;
}

time {
  position: relative;
  background-color: #00918B;
  left: -40%;
}

.odd {
  background-color: #6CBFEE;
}

.even {
  background-color: #3594CB;
}


/**
 * xxxx
 */

/**
 * xxxx
 */

/**
 * Helpers
 */
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.is-hidden {
    display: none;
}
