/* new colors
light:#F17370, not #6CBFEE
dark:#AD4743, not #3594CB
other:#F26663 */
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/** * General */
body {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.3em;
}
h1 {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: .7em;
  border-bottom: 1px lightblue solid;
}
.wrap {
  width: 65%;
  margin: 2em auto;
}

/** * Articles */
article {
  /* outline: magenta 1px solid;
  */
  position: relative;
  float: right;
  width: 65%;
  margin-right: 3em;
  border-left: 12px lightblue solid;
}
.article-wrapper {
  margin-right: 2em;
  margin-bottom: 2em;
  margin-left: 5em;
  padding: 2em;
  color: white;
  border-radius: 4px;
}
time {
  position: absolute;
  left: -20%;
}
.date {
  font-size: .8em;
  display: block;
  margin-bottom: 7px;
  text-align: right;
  color: #bdd0dc;
}
.time {
  font-size: 1.9em;
  text-align: right;
  color: #6cbfee;
}
.odd {
  border-color: #6cbfee;
  background-color: #6cbfee;
}
.even {
  background-color: #3594cb;
}

/** * * Icons */
.icon {
  position: absolute;
  top: -2px;
  left: -41px;
  display: inline;
  width: 55px;
  height: 55px;
  border: 9px #afdcf8 solid;
  border-radius: 50%;
  background-color: #46a4da;
}
i.light, i.dark {
  position: absolute;
  top: 24px;
  left: 90px;
  width: 0;
  height: 0;
  margin-left: -3px;
  border-top: 10px solid transparent;
  border-right: 10px solid #6cbfee;
  border-bottom: 10px solid transparent;
}
i.dark {
  border-right: 10px solid #3594cb;
}

/** * * Helpers */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.group:after {
  display: table;
  clear: both;
  content: '';
}